# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Coding\learn_ml\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
